@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    --bg-light-yellow: #F2F2EE;
    --bg-light-blue: #EDF2FF;
    --bg-light-red: #F2EEEE;
    --light-yellow: #FFF6C5;
    --yellow: #F8C231;
    --orange: rgba(255,105,40,0.8);
    --light-red: #FFC5CF;
    --red: #FF445E;
    --green: rgba(0,187,131,0.8);
    --light-green: #BEFFEC;
    --pink: rgba(255,90,209,0.9);
    --selection-sky: #00FFFF;
    --selection-pink: #f81ce5;
    --light-pink: #FFE9FA;
    --blue: rgba(5,96,255,0.8);
    --light-blue: #B7F2FF;
    --white: #FFFFFF;
    --white-bg: #FFFFFF;
    --black-text: #22242C;
    --black-bg: #22242C;
    --white20: #ecedee;
    --white-text: #ecedee;
    --gray: #687076;
    --black: #0a0a0d;
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168,239,255,1);
    --c2: rgba(168,239,255,0.1);
    --light-black: rgba(0,0,0,0.05);
    --light-white: rgba(255,255,255,0.05);
    --tag-black: rgba(0,0,0,0.5);
    --tag-white: rgba(255,255,255,0.8);
    --tag-pink: #F150CE;
    /*  gradients */
    --floral-1: linear-gradient(90deg,#FF4E9C 0%,#EA29DE 31.93%,#B723D8 63.03%,#5606EF 100%);
    --floral-1c: ##EA29DE;
    --floral-2: linear-gradient(90deg,#8D2DE3 0%,#FF2497 97.34%);
    --floral-2c: #8D2DE3;
    --grass-1: linear-gradient(90deg,#782AFD 0%,#2771F3 33.33%,#00B4E4 66.67%,#00D8B2 100%);
    --grass-1c: #2771F3;
    --grass-2: linear-gradient(90deg,#1C45A6 0%,#44B5A2 50%,#D4FBB5 100%);
    --grass-2c: #1C45A6;
    --grass-3: linear-gradient(90deg,#FFDC27 0%,#46E3B7 95%);
    --grass-3c: #46E3B7;
    --dreamy-1: linear-gradient(73.19deg,#DC79FF 0%,#256BFA 95.06%);
    --dreamy-1c: #DC79FF;
    --dreamy-2: linear-gradient(96.01deg,#455EB5 10.43%,#5643CC 53.88%,#673FD7 97.33%);
    --dreamy-2c: #5606EF;
    --rainbow-1: linear-gradient(90deg,#00DAF4 0%,#5EDC99 20%,#BADA6D 40%,#FFC800 60%,#FFAF00 80%,#FF7800 100%);
    --rainbow-1c: #5EDC99;
    --rainbow-2: linear-gradient(90deg,#DC36FA 0%,#A167EF 25%,#609FE4 50%,#3ABFDE 75%,#04D18E 100%);
    --rainbow-2c: #A167EF;
    --retro-1: linear-gradient(69.55deg,#D400A5 12.23%,#1E76C9 55.91%,#35FCED 92.87%);
    --retro-1c: #D400A5;
    --retro-2: linear-gradient(90.42deg,#4AB1F1 0.58%,#566CEC 37.22%,#D749AF 73.87%,#FF7C51 112.26%);
    --retro-2c: #566CEC;
    --retro-3: linear-gradient(90deg,#566cec,#d749af 50%,#ff7c51);
    --retro-3c: #566cec;
    --sky-1: linear-gradient(90deg,#80D0F2 0%,#5C82FF 50%,#C480FF 100%);
    --sky-1c: #80D0F2;
    --sky-2: linear-gradient(90deg,#47189C 0%,#3861BC 50%,#80D6E1 100%);
    --sky-2c: #47189C;
    --sky-3: linear-gradient(90deg,#1584EB 0%,#24D6D9 97.34%);
    --sky-3c: #1584EB;
    --rose-1: linear-gradient(73.19deg,#DF51AD 0%,#EB587D 95.06%);
    --rose-1c: #DF51AD;
    --rose-2: linear-gradient(73.19deg,#AE41C5 0%,#EA29DE 95.06%);
    --sunset-1c: #FF0063;
    --sunset-1: linear-gradient(90deg,#FFC800 0%,#FB6A19 50%,#FF0063 100%);
    --sunset-2: linear-gradient(90deg,#F06844 0%,#EE4C54 25%,#D45E95 50%,#9C6CA6 75%,#6583C1 100%);
    --sunset-3c: #F06844;
    --sunset-3: linear-gradient(90deg,#F7BE2B 0%,#F537F9 100%);
    --sunset-2c: #EE4C54;
    --coffee-1: linear-gradient(258.32deg,#FBFBFD 0%,#E795B7 32.71%,#935893 65.43%,#224D88 98.14%);
    --coffee-1c: #FBFBFD;
    --coffee-2: linear-gradient(270deg,#FA6E6E 0%,#A3387E 48.88%,#224D88 97.75%);
    --coffee-2c: #FA6E6E;
    --coffee-3: linear-gradient(99.66deg,#E84E38 10.18%,#BA2CB8 92.84%);
    --coffee-3c: #BA2CB8;
}

body.light-mode, body[data-theme="light"] {
    --img-shadow: 6px 6px 12px -6px rgb(0,0,0,0.1),24px 24px 30px -6px rgb(0,0,0,0.2);
    --img-shadow-2: 2px 2px 8px -1px rgb(0,0,0,0.05),12px 12px 16px -4px rgb(0,0,0,0.05);
    --hover-bg: linear-gradient(90deg,rgba(255,233,244,0.4) 0%,rgba(234,243,255,0.7) 100%);
    --img: invert(0);
    --nav-bg: rgba(255,255,255,0.3);
    --nav-menu-bg: rgba(255,255,255,0.7);
    --shadow: rgba(48,52,77,0.2);
    --grey-100: rgba(48,52,77,0.1);
    --avatar-shadow: rgba(48,52,77,0.1);
    --light-gray: rgba(74,87,111,0.6);
    --bg-filter: contrast(1);
    --border-line: rgba(34,36,44,0.15);
    --border-light: rgba(34,36,44,0.03);
    --border: rgba(34,36,44,0.03);
    --text-primary: var(--black-text);
    --text-secondary: rgba(0,0,0,0.5);
    --bg: var(--white);
    --bg-sec: var(--light-black);
    --selection-bg: #00FFFF;
}



.gYisCF #texture {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -99;
    width: 100%;
    height: calc(100vh + 200px);
    opacity: 0.25;
    pointer-events: none;
    transform: translateY(0px);
    filter: contrast(120%) brightness(120%);
}

body.dark-mode, body[data-theme="dark"] {
    --img: invert(1);
    --img-shadow: 6px 6px 12px -6px rgb(0 0 0 / 50%),24px 24px 30px -6px rgb(0 0 0 / 50%);
    --img-shadow-2: 2px 2px 4px -2px rgb(0 0 0 / 50%),24px 24px 30px -6px rgb(0 0 0 / 50%);
    --hover-bg: linear-gradient(90deg,rgba(30,28,50,0.8) 0%,rgba(43,22,29,0.7) 100%);
    --shadow: rgba(255,255,255,0.2);
    --grey-100: rgba(255,255,255,0.1);
    --avatar-shadow: rgba(28,22,47,0.3);
    --nav-bg: rgba(28,22,47,0.3);
    --nav-menu-bg: rgba(18,18,22,0.4);
    --light-gray: rgba(114,120,136,0.6);
    --border-line: rgba(236,237,238,0.15);
    --border: rgba(236,237,238,0.03);
    --text-primary: var(--white-text);
    --text-secondary: rgba(255,255,255,0.3);
    --bg: var(--black);
    --bg-sec: var(--light-white);
    --bg-filter: contrast(130%);
    --selection-bg: #f81ce5;
}

body.dark-mode #texture, body[data-theme="dark"] #texture {
    filter: contrast(30%) brightness(50%);
}

body.dark-mode::selection, body[data-theme="dark"]::selection {
    background-color: rgb(34, 34, 34);
    color: rgb(248, 248, 248);
}


::selection {
    background: var(--selection-bg);
    color: var(--text-primary);
}

body {
    position: relative;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    inset: 0px;
    z-index: -100;
    background-image: url("/header-gradient.svg"), url("/footer-gradient.svg");
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    background-size: 1400px;
}

a.gradient {
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: repeat;
}
a.retro-2 {
    background-color: var(--retro-2c);
    background-image: var(--retro-2);
}


.retro-1 {
    background-color: var(--retro-1c);
    background-image: var(--retro-1);
}

.retro-2 {
    background-color: var(--retro-2c);
    background-image: var(--retro-2);
}

.sunset-1 {
    background-color: var(--sunset-1c);
    background-image: var(--sunset-1);
}

.sunset-2 {
    background-color: var(--sunset-2c);
    background-image: var(--sunset-2);
}

.sky-3 {
    background-color: var(--sky-3c);
    background-image: var(--sky-3);
}

.floral-1 {
    background-color: var(--floral-1c);
    background-image: var(--floral-1);
}

.floral-2 {
    background-color: var(--floral-2c);
    background-image: var(--floral-2);
}

.grass-1 {
    background-color: var(--grass-1c);
    background-image: var(--grass-1);
}

.grass-2 {
    background-color: var(--grass-2c);
    background-image: var(--grass-2);
}

.rose-1 {
    background-color: var(--rose-1c);
    background-image: var(--rose-1);
}

.grass-1 {
    background-color: var(--grass-1c);
    background-image: var(--grass-1);
}

.rainbow-1 {
    background-position-x: ;
    background-position-y: ;
    background-size: ;
    background-repeat-x: ;
    background-repeat-y: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ;
    background-image: var(--rainbow-1);
}

.rainbow-2 {
    background-position-x: ;
    background-position-y: ;
    background-size: ;
    background-repeat-x: ;
    background-repeat-y: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ;
    background-image: var(--rainbow-2);
}

.dreamy-1 {
    background-position-x: ;
    background-position-y: ;
    background-size: ;
    background-repeat-x: ;
    background-repeat-y: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ;
    background-image: var(--dreamy-1);
}

.dreamy-2 {
    background-position-x: ;
    background-position-y: ;
    background-size: ;
    background-repeat-x: ;
    background-repeat-y: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ;
    background-image: var(--dreamy-2);
}

.sky-1 {
    background-position-x: ;
    background-position-y: ;
    background-size: ;
    background-repeat-x: ;
    background-repeat-y: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ;
    background-image: var(--sky-1);
}

.sky-2 {
    background-position-x: ;
    background-position-y: ;
    background-size: ;
    background-repeat-x: ;
    background-repeat-y: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ;
    background-image: var(--sky-1);
}

.sky-3 {
    background-position-x: ;
    background-position-y: ;
    background-size: ;
    background-repeat-x: ;
    background-repeat-y: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ;
    background-image: var(--sky-3);
}

.coffee-1 {
    background-position-x: ;
    background-position-y: ;
    background-size: ;
    background-repeat-x: ;
    background-repeat-y: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ;
    background-image: var(--coffee-1);
}

.coffee-2 {
    background-position-x: ;
    background-position-y: ;
    background-size: ;
    background-repeat-x: ;
    background-repeat-y: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ;
    background-image: var(--coffee-2);
}

.gradient {
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-bg {
    background-size: 100%;
    color: var(--white);
    background-repeat: repeat;
}

/* say-hi block */

.kLKfwN {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 708px;
    margin: 0px auto;
}

.iXFafK {
    padding: 1rem;
    background: var(--hover-bg);
    display: flex;
    border-radius: 20px;
    margin: 60px 4px 4px;
    -webkit-box-align: center;
    align-items: center;
}

.gPchcu {
    padding: 44px 32px;
}

.cfIBlJ {
    text-align: right;
}

.gPchcu h2 {
    display: inline-block;
    font-size: 48px;
    letter-spacing: -1px;
}

.iXFafK {
    padding: 16px;
    background: var(--hover-bg);
    display: flex;
    border-radius: 20px;
    margin: 60px 4px 4px;
    -webkit-box-align: center;
    align-items: center;
}

 .gradient {
     background-size: 100%;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     background-repeat: repeat;
 }


@layer components {


    .header-button-container {
        @apply relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg
         bg-gradient-to-br from-pink-500 to-orange-400
        hover:from-pink-500 hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800

        transition shadow-[0_1px_3px_rgba(15,23,42,0.03),0_1px_2px_rgba(15,23,42,0.06)] ring-1 ring-slate-600/[0.04]

    }

    .header-button-container > * {
        @apply relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md hover:bg-opacity-0
    }
}
